@font-face
{
    font-family: ubntu;
    src:url('/static/fonts/Ubuntu/Ubuntu-Regular.ttf');
   
}

@font-face
{
    font-family: varela;
    src:url('/static/fonts/Varela_Round/VarelaRound-Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url('static/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: neue;
    src: url('static/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

html,body
{
    margin:0px;
    padding:0px;
    border:0px;
    height:100%;
    

}

.top {
    display: flex;
    justify-content: space-between;
    /* max-height: 8vw; */
    position: fixed;
    width:100vw;
    top: 0px;
    background-color: white;
   border-width: 0px;
   z-index:1;
}

.dev {
    font-family: 'ubntu';
    font-weight: 1000;
    padding-left: 32px;
    display: flex;
    align-items: center;
}

.top .dev a {
    display: inline-block;
    display: flex;
    align-items: center;
}

.dev img {
    width: 3.5vw;
    /* height: 58px; */
    padding: .16vw;
    border-radius: 222px;
    background-color: #facf0f;
    padding-bottom: 0px;
    margin: 1vw;
    cursor:pointer;
}



.options {
    display: flex;
    align-items: center;
    padding-top:.9vw;
}

.options a {
    margin: 0px 3.5vw;
    font-family: ubntu;
    font-weight: 900;
    color: #232121;
    text-decoration: none;
    font-size: 1.18vw;
    transition:color .3s ease;
}

.dev label{
    font-size:1.4vw;
    cursor:pointer;
    transition:color .3s ease;
}



.options a:hover,.dev label:hover {
    color:#facf0f;
}

.window {
    background:linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url('/static/images/common-bg.svg');
    /* max-height: 85vh; */
   width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0px;
    
}

.social-media
{
    background-color: white;
}

.social-media div img {
    width: 2.8vw;
    cursor: pointer;
    
}

.window .social-media div a {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    /* align-items: center; */
    padding: 0.8vw 0.7vw;
    border-radius: 0.5vw;
    transition: background-color .3s ease;
}

.window .social-media div a:hover
{
background: rgba(250,207,15,.2);;
}






.social-media div {
    display: flex;
    justify-content: center;
    padding: .6vw;
    /* border: 2px solid black; */
    /* border-top: 1px; */
    /* border-color: black; */
    /* border-width: 2px; */
    /* border-style: solid; */
   
   
  
   

}






    .profile,.form {
        display: flex;
        flex-direction: column;
        padding: 13.6vw;
    }
     .about,.about-more,.name{
        text-align: center;
        font-size: 4.2vw;
        font-family: monospace;
        font-weight: bolder;

    }
    .about {
        font-size: 1.5vw;
        font-weight: 500;
        width: 56vw;
        line-height:2.6vw;
    }
    .projects {
        text-align: center;
    }
    
    .button {
        border-radius: 1.2vw;
        padding: 1.5vw 4.64vw;
        font-family: monospace;
        font-size: 2.24vw;
        background-color:#facf0f;
        font-weight: 1000;
        cursor: pointer;
        transition: color 2ms ease-in,transform .3s ease-in-out;
    }

    .button:hover
    {
     color:#facf0f;
     background-color: black;
     transform: translateY(-3px);
    }


    .profile div {
        margin: 2.3vw 0vw;
        margin:1vw;
    }
    .middle
    { width:100vw;
        border-width: 0px;
        background-color:#fafafa;
    }

    .about-more {
        padding-top: 11.2vw;
        /* text-decoration: underline; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
    
       /* max-height: 42vh; */
    }

   .text {
        font-size: 1.5vw;
        font-weight: 500;
        
        padding: 0px 12.16vw;
        height: 8vw;
        font-family: monospace;
        line-height: 2.6vw;
        
    }

    .name{
        letter-spacing: .1vw;
        word-spacing: -.3vw;
        
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom:.95vw;
        height:7vw;

    }

    .underline {
        width: 5vw;
        height: .5vw;
        background: linear-gradient(0deg, #facf0f, transparent);
        border-radius: 1.36vw;
    }
    .know-me {
        display: flex;
        justify-content: space-around;
        margin-top: 2.5vw;
    }

    .info {
        width: 52vw;
        /* max-height: 76vh; */
        margin:3.12vw;
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 8vw;
        
    }

    

    .description
    {
        padding:0px;
        height:fit-content;
        
    }

    .heading {
        font-size: 2.2vw;
        text-align: left;
        font-weight: 898;
        
        
    }

    .name.heading {
        margin-bottom: 1.6vw;
    }

    .text.description {
        margin: .9vw 0px;
        margin-bottom: 1.9vw;
        line-height:2.5vw;
    }

    .btn-small {
        font-size: 1.6vw;
        padding: .72vw 2.24vw;
        border-radius: .48vw;
    }
    .all-skills
    {
       
        justify-content: initial;
        
    }
    
    .all-skills .name.heading {
        margin-bottom: 0vw;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        padding-bottom:8vw;
    }

    .box {
        font-size: 1.2vw;
        font-family: varela;
        font-weight: bolder;
        background: rgba(153,153,153,.2);
        padding: 1.8vw;
        border-radius: .72vw;
        margin: .5vw;
        position: relative;
        top: 2vw;
    }
    
    .bottom {
        display: flex;
        flex-direction: column;
        width: 100vw;
        border-width: 0px;
        justify-content: space-evenly;
        /* max-height: 55vh; */
        align-items: center;
        z-index:-1;
        /* background-color:rgb(250, 249, 248); */
        background-color: #000;
        color:whitesmoke;
    }
    .bottom-social {
        display: flex;
    }
    
    .bottom-upper {
        display: flex;
        flex-direction: column;
        height: 70%;
        justify-content: space-around;
        margin-bottom:6vh;
    }

    .name.heading.bottom-name {
        font-size: 3vw;
        text-align: center;
        margin-top:5vh;
    }
    
    .social-media.bottom-social img {
        width: 4vw;
        transition: opacity .3s ease;
    }

    .social-media.bottom-social img:hover
    {
        opacity: .6;
    }

    .bottom-social {
        display: flex;
        width: 100vw;
        justify-content: space-around;
        background: black;
    }

    .bottom-lower {
        width: 54vw;
        height: 0.2vh;
        background: linear-gradient(45deg, whitesmoke, whitesmoke);
    }

    .text.description.copyright {
        font-size: .9vw;
    }
    
    .contact-window
    {
        justify-content: center;
    }

    .form {
        /* padding: 3vw; */
        margin: 16vw 0vw;
        /* margin-right: 12vw; */
        background: white;
        padding: 3vw;
        border-radius: 1vw;
        position: relative;
        left: 4vw;
        box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
        align-items: center;
    }



.contact-window .social-media {
    position: absolute;
    left: 0px;
}
.project-window
{
    flex-direction: column;
    justify-content: initial;
}



.input input,textarea {
    border: 1px solid #ebebeb;
    display: block;
    width: 56vw;
    height: 2.3vw;
    border-radius: 0.6vw;
    background: #f0f0f0;
    /* transition: background-color 2ms ease-in; */
    font-family: varela;
    font-weight: 500;
    font-size: 1.4vw;
    
    padding: 1.1vw;
}

textarea.child.message {
    resize: none;
    /* display: initial; */
    height: initial;
}

button#submit {
    margin-top: 3vw;
}

.form .input .heading {
    font-size: 1.8vw;
    display: block;
    color: #666;
    font-weight: 800;
    margin-bottom: 1.5vw;
}


h2.name {
    font-size: 3vw;
    /* margin-top: 6vw; */
    margin-top: 0vw;
    margin-bottom:1vw;
    
}

.underline.h2 {
    margin-bottom:5vw;
}


input[type="checkbox"] {
    display: inline-block;
    width: 1.5vw;
    height: 2.6vw;
}

input[type="checkbox"]:hover {
   background-color: rgba(0, 128, 0, 0.664);
}


.input {
    margin-bottom: 5vw;
}


label.text.description {
    /* padding-bottom: 6vw; */
    position: relative;
    top: -1vw;
    left: 1vw;
}
.input input,textarea:focus
{
    outline:0px;
}


label.text.description.msg {
    position: static;
    /* top: 0vw; */
    font-size: .87vw;
    color: #b39393;
}

.middle.projects-main {
    background-color: white;
}

.laptop-block {
    margin: 4vw 0vw;
    /* display: flex; */
}

.laptop {
    width: 56vw;
    display: inline-block;
    margin-bottom: 6vw;
}


.projectno {
    display: flex;
    margin-top:5vw;

}

.projects-main .info {
    
    /* max-height: 76vh; */
    margin: 0vw 3.12vw;
    
    /* justify-content: space-evenly; */
    /* margin-bottom: 8vw; */
    padding: 2.05vw 0vw;
    justify-content: initial;
}

.projects-main .name.heading {
    /* margin-bottom: 1.6vw; */
    margin: 0vw 0vw;
}

.projects-main .text.description {
    margin-top: 0.5vw;
    margin-bottom: 0.9vw;
}

.projects-main .about-more {
    /* background: red; */
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(/static/images/common-bg.svg);
}

.project-middle
{
    display:flex;
    flex-direction: column;
    align-items:center;
    
}

.project-middle .info
{
    margin:0vw;
    padding:0vw;
    margin-bottom: 4vw;

}

.project-middle .box
{
    background-color: rgba(153,153,153,.2);
}

.project-live-button button {
    margin: 2vw 0vw;
    margin-right: 2vw;

}

.see-live .go-back
{
    border:.2vw solid #facf0f;
    background-color: white;
    letter-spacing: 0.15vw;
    transition:border-color .2s ease, color .2s ease;
}

.see-live .go-back:hover
{
border-color:black;

}
.project-middle .skills
{
    padding-bottom:0vw;
    margin-bottom: 2.9vw;
}

@media screen and (max-width:284px) {

    .social-media div
{
    padding:.4vw;
}   
.window
{
    padding-top:10vw;
} 
}

@media screen and (max-aspect-ratio: 125/144)
{
    .form
    {
        padding:16vw 4vw;
    }
    label.text.description.msg {
        /* position: relative; */
        top: -.9vw;
        
    }
    .bottom-social {
       
        flex-direction: column;
        align-items: center;

    }
    .social-media div {
        margin: 4vw;
    }
    .window
{
    padding-top:10vw;
    padding-bottom: 4vw;
} 

}

@media screen and (max-width:415px) and (min-width:5px)  {

    .bottom
    {
        min-height:55vh;

    }
    .bottom-social {
       
        flex-direction: column;
        align-items: center;
    }
    .bottom-social div {
        
        margin: 1.4vh;
        padding: .5vh;
        margin-bottom: 4vw;
        
    }
    

    .form
      {
          padding:9vw 5vw;
      }

      label.text.description.msg {
        /* position: relative; */
        top: -2vw;
    }
    .window
{
    padding-top:16vw;
    padding-bottom: 5vw;
} 
   
}
