<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" href="{% static 'images/letter-v.png' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Contact</title>
</head>
<body>
    <div class="top">
        <div class="dev">
           <a href="https://vikasbhadu.herokuapp.com/"><img src="{% static 'images/1.png' %}" alt=""></a>
           <a href="https://vikasbhadu.herokuapp.com/" style="text-decoration:none;color: #232121;"><label for="">VIKAS BHADU</label></a>
        </div>
        <div class="options">
           <a href="https://vikasbhadu.herokuapp.com/">HOME</a>
           <a href="https://vikasbhadu.herokuapp.com/#about">ABOUT</a>
           <a href="https://vikasbhadu.herokuapp.com/projects/">PROJECTS</a>
           <a href="https://vikasbhadu.herokuapp.com/contact/">CONTACT</a>
        </div>
    </div>
    <div class="window contact-window">
        <div class="social-media">
            <div><a href="https://www.linkedin.com/feed/" target="_blank"><img src="{% static 'images/linkedin-brands.svg' %}" alt=""></a></div>
            <div><a href="https://github.com/Vikas-Bahdu" target="_blank"><img src="{% static 'images/github-brands.svg' %}" alt=""></a></div>
            <div><a href=""><img src="{% static 'images/twitter-brands.svg' %}" alt=""></a></div>
            <div><a href=""><img src="{% static 'images/youtube-brands.svg' %}" alt=""></a></div>
            <div id="last-image"><a href=""><img src="{% static 'images/instagram-brands1.svg' %}" alt=""></a></div>
        </div>
        <div class="form" >
            <h2 class="name">Contact me for work/general Enquiries</h2>
            <div class="underline h2"></div>
            
          <form action="https://vikasbhadu.herokuapp.com/contact/save-request/" method="post" enctype="multipart/form-data" >
              {% csrf_token %}
              
              <div class="input"><label for="" class="name heading ">Email</label><input type="text" placeholder="Enter Your Email" name="email" maxlength="50" pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" autocomplete="off" required>
                <label for="" class="text description msg">*we'll never share your email and phone no. with anyone else.</label>
            </div>
              <div class="input"><label for="" class="name heading ">Phone</label><input type="tel" placeholder="Enter Your Phone Number" name="phone" class='child' pattern="\d{10}" required autocomplete="off"></div>
              <div class="input"><label class="name heading ">Enquiry</label><textarea  placeholder="Enter Your Message" name="enquiry"  minlength=10 maxlength=100  class='child message'  cols="70" rows="10" required autocomplete="off" ></textarea></div>
              <div><input type="checkbox" value="true" name="collabration"><label for="" class="text description">I want you to work on a project with me</label></div>
              <div><button class="button btn-small" id="submit">Submit</button></div> 
          </form>
       </div>
    </div>
    <div class="bottom">
        <div class="bottom-upper">
        
          <div class="name heading bottom-name">Social</div>
          <div class="social-media bottom-social">
            <div><a target="_blank" href="https://www.linkedin.com/feed/"><img src="{% static 'images/linkedin (1).png' %}" alt=""></a></div>
            <div><a target="_blank" href="https://github.com/Vikas-Bahdu"><img src="{% static 'images/github.png' %}" alt=""></a></div>
            <div><img src="{% static 'images/twitter.png' %}" alt=""></div>
            <div><img src="{% static 'images/youtube (1).png' %}" alt=""></div>
            <div ><img src="{% static 'images/instagram.png' %}" alt=""></div>
        </div>
    </div>
    
    <div class="bottom-lower"></div>
    <div class="text description copyright">© Copyright 2022. Made by <a href="https://vikasbhadu.herokuapp.com/" style="color:whitesmoke">Vikas Bhadu</a> </div>
</div>
 <script src="{% static 'js/contact.js' %}"></script>
</body>
</html>